include LICENSE
include README.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

include candidate_models/base_models/models.csv
include candidate_models/base_models/basenets-meta.pkl
