language: python
python:
  - 3.6
sudo: required
before_install:
  # the following is taken from https://github.com/pytorch/vision/blob/master/.travis.yml
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION
  - source activate test-environment

  # install all the frameworks for testing
  - conda install pytorch torchvision -c pytorch
  - conda install keras
  - git clone https://github.com/qbilius/models/ tf-models
  - export PYTHONPATH="$PYTHONPATH:$(pwd)/tf-models/research/slim"
install:
  - pip install .
before_script:
  # download imagenet validation now to avoid out-of-memory errors in script
  - pip install awscli
  - aws --no-sign-request --region=us-east-1 s3 cp s3://brain-score-models/imagenet2012-val.hdf5 ~/.model-tools/imagenet2012.hdf5
script:
  - CUDA_VISIBLE_DEVICES= MT_MULTITHREAD=0 pytest --ignore=tf-models --skip-memory-intense
