include LICENSE
include README.md
include brainscore_vision/lookup.csv
include brainscore_vision/model_helpers/brain_transformation/imagenet_classes.txt
include brainscore_vision/model_helpers/check_submission/images/*.png

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif *.csv
