torch>=2
torchvision
pyyaml
numpy
opencv-python
submitit
braceexpand
webdataset
timm
decord
pandas
einops
beartype
phys_readouts@ git+https://github.com/thekej/phys_readouts.git#egg=phys_readouts
filelock==3.15.4
transformers
huggingface_hub