tqdm
gitpython
torch
keras==2.3.1
Pillow
cornet @ git+https://github.com/dicarlolab/CORnet
bagnets @ git+https://github.com/mschrimpf/bag-of-local-features-models.git
texture_vs_shape @ git+https://github.com/mschrimpf/texture-vs-shape.git
Fixing-the-train-test-resolution-discrepancy-scripts @ git+https://github.com/mschrimpf/FixRes.git
dcgan @ git+https://github.com/franzigeiger/dcgan.git
tfutils @ git+https://github.com/neuroailab/tfutils.git
tnn @ git+https://github.com/neuroailab/tnn.git