numpy==1.23.5
netCDF4!=1.6.0,<1.6.5
torch==1.12.1+cu113
torchvision==0.13.1+cu113
chardet
omegaconf>=2.1.1
hydra-core>=1.1.1
pillow>=9.0.1
r3m @ git+https://github.com/facebookresearch/r3m.git#egg=r3m