name: Automatically merge plugin-only PRs


# Triggered on all PRs either by
# - completion of CI checks, OR
# - tagging with label
# If PR is labeled "automerge" or "automerge-web" 
# (all website submissions are tagged "automerge-web"),
# checks if Travis and Jenkins tests pass. 
# A successful status update from Travis also confirms that
# the PR is plugin-only. Therefore, if all tests pass, this
# indicates that no changes are made beyond new or revised plugins
# (subdirs of /benchmarks, /data, /models, or /metrics) 
# and the PR is automatically approved and merged.


on:
  pull_request:
    types: [labeled]
  check_run:
    types: [completed]
  status:

permissions: write-all

jobs:

  check_test_results:
    name: Check if all tests have passed and PR meets automerge conditions
    runs-on: ubuntu-latest
    outputs:
      ALL_TESTS_PASS: ${{ steps.gettestresults.outputs.TEST_RESULTS }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Get Travis build status
        id: gettestresults
        run: |
          echo "test_results=$( python brainscore_vision/submission/check_test_status.py ${{ github.event.pull_request.head.sha }} )"
          echo "::set-output name=TEST_RESULTS::$test_results"


  automerge:
    name: If tests pass and PR is automergeable, approve and merge
    runs-on: ubuntu-latest
    needs: check_test_results
    if: ${{ needs.check_test_results.outputs.ALL_TESTS_PASS == 'True' }}
    steps:
      - name: Auto Approve
        uses: hmarr/auto-approve-action@v3.1.0

      - name: Auto Merge (GitHub submissions)
        uses: plm9606/automerge_actions@1.2.2
        with:
          github-token: ${{ secrets.WORKFLOW_TOKEN }}
          label-name: "automerge"
          merge-method: "squash"
          auto-delete: "true"

      - name: Auto Merge (brain-score.org submissions)
        uses: plm9606/automerge_actions@1.2.2
        with:
          github-token: ${{ secrets.WORKFLOW_TOKEN }}
          label-name: "automerge-web"
          merge-method: "squash"
          auto-delete: "true"
